.wrapper {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 240px;
  padding-top: 46px;
  padding-left: 10px;
}

.menu__list {
  display: flex;
  margin-left: 34px;
}

.menu__list-item + .menu__list-item {
  margin-left: 25px;
}

.menu__link {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.slider__item {
  margin-left: 10px;
  color: #ffffff;
}

.slider__item-title {
  margin-bottom: 10px;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
}

.slider__item-text {
  width: 674px;
  margin-bottom: 46px;
  font-size: 36px;
  font-weight: 400;
}

.slick-dots {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  margin-left: 10px;
  font-size: 0;
}

.slick-dots button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}


